@model Sistem_Informasi_BEM.Models.msanggotabem

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ganti Password</title>
    <link rel="shortcut icon" href="~/Picture/Logo_BEM.png" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/password/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/password/sb-admin-2.min.css" rel="stylesheet">
</head>

<body style="background-image: url('../../Picture/change_pass.png'); background-repeat: no-repeat; background-size: cover;">

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="float-left">
            <a href="Reload.html">
                <img src="~/Picture/SIBEM.png" style="height: 50px;" />
            </a>
        </div>
    </nav>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row" align="center">
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="~/Picture/change.png" style="height: 380px;" />
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Ubah Kata Sandi</h1>
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Kata Sandi Lama", @type = "password" } })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @type = "email" } })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.EditorFor(model => model.creaby, new { htmlAttributes = new { @class = "form-control", placeholder = "Kata Sandi Baru", @type = "password" } })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(model => model.modiby, new { htmlAttributes = new { @class = "form-control", placeholder = "Ulangi Kata Sandi Baru", @type = "password" } })
                                    </div>
                                </div>
                                <input type="submit" value="Simpan" class="btn btn-primary btn-user btn-block" />
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.Login != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Login");
            }
        </script>
    }
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/theme/designtablejava.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/password/jquery.min.js"></script>
    <script src="~/Content/password/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/password/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/password/sb-admin-2.min.js"></script>
</body>
</html>