@model Sistem_Informasi_BEM.Models.msdeparteman

@{
    ViewBag.Title = "Detil Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="polman-nav-static-top">
    <div id="iconmenu" class="fa fa-bars fa-2x polman-adjust2" style="margin-right: 15px; cursor: pointer;" aria-hidden="true" onclick="hidemenu();"></div>
    <div class="float-left polman-adjust2">
        <img src="~/Picture/SIBEM.png" style="height: 50px;" />
    </div>
    <div class="polman-menu">
        <nav class="nav justify-content-end" style="padding-top: 0px;">
            <div class="fa fa-user-circle-o fa-10x" style="margin-top: 8px; margin-right: 15px; cursor: pointer;" aria-hidden="true"></div>
            <b style="font-size: 18px; float: right">@(Request.IsAuthenticated? HttpContext.Current.User.Identity.Name : "") (@ViewBag.Jabatan) <br />@ViewBag.Departemen </b>
        </nav>
    </div>
</div>

<div class="polman-nav-static-right collapse scrollstyle" id="menu">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="list-group">
            <a onclick="location.href='@Url.Action("Index", "Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-sign-out fa-lg fa-pull-left"></i>Logout</a>
            <a onclick="location.href='@Url.Action("MenuAdmin","Login")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-home fa-lg fa-pull-left"></i>Dashboard</a>
            <a onclick="location.href='@Url.Action("ProfilAnggota","Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px;">Profil Anggota</a>
            <a href='#menu7' role='tab' class='list-group-item list-group-item-action polman-menu-active' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Master</a>
            <div id='menu7' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","Anggota")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-user-circle fa-lg fa-pull-left'>&nbsp;</b>Master Anggota
                </a>
                <a onclick="location.href='@Url.Action("Index","Departemen")'" class="list-group-item list-group-item-action active" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-institution fa-lg fa-pull-left'>&nbsp;</b>Master Departemen
                </a>
                <a onclick="location.href='@Url.Action("Index","Formatksk")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-text fa-lg fa-pull-left'>&nbsp;&nbsp;</b> Master Format KSK
                </a>
                <a onclick="location.href='@Url.Action("Index","UKM_HIMA")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-users fa-lg fa-pull-left'>&nbsp;</b>Master Hima & UKM
                </a>
                <a onclick="location.href='@Url.Action("Index","Jabatan")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-id-card fa-lg fa-pull-left'>&nbsp;</b>Master Jabatan
                </a>
                <a onclick="location.href='@Url.Action("Index","Periode")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-calendar fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Master Periode
                </a>
            </div>
            <a href='#menu6' role='tab' class='list-group-item list-group-item-action' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Informasi</a>
            <div id='menu6' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","News")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-book fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Berita BEM
                </a>
            </div>
        </div>
    </div>
</div>

<H3>Departemen</H3>
<ol class="breadcrumb polman-breadcrumb">
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("MenuAdmin","Login")'">Sistem Informasi BEM</a></li>
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index","Departemen")'">Departemen</a></li>
    <li class="breadcrumb-item">Detail</li>
</ol>
<hr />

<div id="allcontent" class="polman-adjust5" style="margin-left: 0px;">
    <div id="MainContent_panelAdd">
        <div class="card">
            <div class="card-header">
                <h3>Detail Data @Html.DisplayFor(model => model.namadepartemen)</h3>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <tr><td>Nama Departemen</td><td> : </td><td>@Html.DisplayFor(model => model.namadepartemen)</td></tr>
                            <tr><td>CreaBy</td><td> : </td><td> @Html.DisplayFor(model => model.creaby)</td></tr>
                            <tr><td>ModiBy</td><td> : </td><td>@Html.DisplayFor(model => model.modiby)</td></tr>
                            <tr><td>CreaDate</td><td> : </td><td>@Html.DisplayFor(model => model.creadate)</td></tr>
                            <tr><td>ModiDate</td><td> : </td><td>@Html.DisplayFor(model => model.modidate)</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<span style="float: right">
    <a href="@Url.Action("Index", "Departemen", "")" class="btn btn-default" style="padding: 15px 40px; font-size: 12pt;">Kembali</a>
</span>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
            alert("@ViewBag.Message");
        }
    </script>
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />