@model IEnumerable<Sistem_Informasi_BEM.Models.msformatksk>

@{
    ViewBag.Title = "Format KSK";
    var no = 0;
}

<div class="polman-nav-static-top">
    <div id="iconmenu" class="fa fa-bars fa-2x polman-adjust2" style="margin-right: 15px; cursor: pointer;" aria-hidden="true" onclick="hidemenu();"></div>
    <div class="float-left polman-adjust2">
        <img src="~/Picture/SIBEM.png" style="height: 50px;" />
    </div>
    <div class="polman-menu">
        <nav class="nav justify-content-end" style="padding-top: 0px;">
            <div class="fa fa-user-circle-o fa-10x" style="margin-top: 8px; margin-right: 15px; cursor: pointer;" aria-hidden="true"></div>
            <b style="font-size: 18px; float: right">@(Request.IsAuthenticated? HttpContext.Current.User.Identity.Name : "") (@ViewBag.Jabatan) <br />@ViewBag.Departemen </b>
        </nav>
    </div>
</div>

<div class="polman-nav-static-right collapse scrollstyle" id="menu">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="list-group">
            <a onclick="location.href='@Url.Action("Index", "Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-sign-out fa-lg fa-pull-left"></i>Logout</a>
            <a onclick="location.href='@Url.Action("MenuBPH","Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px;border: none;padding-left: 23px;"><i class="fa fa-home fa-lg fa-pull-left"></i>Dashboard</a>
            <a onclick="location.href='@Url.Action("ProfilAnggotaDept","Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px;">Profil Anggota</a>
            <a href='#menu7' role='tab' class='list-group-item list-group-item-action' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Menu</a>
            <div id='menu7' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","OSP")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-excel-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Pengajuan OSP
                </a>
                <a onclick="location.href='@Url.Action("IndexDept","PengajuanDana")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-text-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Pengajuan Dana
                </a>
                <a onclick="location.href='@Url.Action("Index", "KasBPH")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-money fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Kas
                </a>
            </div>
            <a href='#menu6' role='tab' class='list-group-item list-group-item-action' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Kesekretariatan</a>
            <div id='menu6' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("BerkasDept","Formatksk")'" class="list-group-item list-group-item-action active" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-excel-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Format Berkas
                </a>
            </div>
        </div>
    </div>
</div>

<H3>Format Kesekretariatan</H3>
<ol class="breadcrumb polman-breadcrumb">
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("MenuPIC","Login")'">Sistem Informasi BEM</a></li>
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Berkas","Formatksk")'">Format Kesekretariatan</a></li>
</ol>
<hr />

<table class="table table-striped table-bordered" style="width:100%" id="tblformat">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                Nama
            </th>
            <th>
                Berkas
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        no++;
        <tr>
            <td style="width: 50px;">
                @no
            </td>
            <td style="width: 250px;">
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td style="width: 350px;">
                @Html.ActionLink(item.dataBerkas, "Download", new { fileName = item.dataBerkas })
            </td>
        </tr>
    }

</table>

<link href="~/Content/designtable.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Content/theme/designtablejava.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, dataTable;
        var no;
        $(document).ready(function () {
            $(document).ready(function () {
                dataTable = $("#tblformat").DataTable();
            });
        });
    </script>
}