@model Sistem_Informasi_BEM.Models.msnew

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="polman-nav-static-top">
    <div id="iconmenu" class="fa fa-bars fa-2x polman-adjust2" style="margin-right: 15px; cursor: pointer;" aria-hidden="true" onclick="hidemenu();"></div>
    <div class="float-left polman-adjust2">
        <img src="~/Picture/SIBEM.png" style="height: 50px;" />
    </div>
    <div class="polman-menu">
        <nav class="nav justify-content-end" style="padding-top: 0px;">
            <div class="fa fa-user-circle-o fa-10x" style="margin-top: 8px; margin-right: 15px; cursor: pointer;" aria-hidden="true"></div>
            <b style="font-size: 18px; float: right">@(Request.IsAuthenticated? HttpContext.Current.User.Identity.Name : "") (@ViewBag.Jabatan) <br />@ViewBag.Departemen </b>
        </nav>
    </div>
</div>

<div class="polman-nav-static-right collapse scrollstyle" id="menu">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="list-group">
            <a onclick="location.href='@Url.Action("Index", "Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-sign-out fa-lg fa-pull-left"></i>Logout</a>
            <a onclick="location.href='@Url.Action("MenuAdmin","Login")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-home fa-lg fa-pull-left"></i>Dashboard</a>
            <a onclick="location.href='@Url.Action("ProfilAnggota","Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px;">Profil Anggota</a>
            <a href='#menu7' role='tab' class='list-group-item list-group-item-action ' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Master</a>
            <div id='menu7' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","Anggota")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-user-circle fa-lg fa-pull-left'>&nbsp;</b>Master Anggota
                </a>
                <a onclick="location.href='@Url.Action("Index","Departemen")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-institution fa-lg fa-pull-left'>&nbsp;</b>Master Departemen
                </a>
                <a onclick="location.href='@Url.Action("Index","Formatksk")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-text fa-lg fa-pull-left'>&nbsp;&nbsp;</b> Master Format KSK
                </a>
                <a onclick="location.href='@Url.Action("Index","UKM_HIMA")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-users fa-lg fa-pull-left'>&nbsp;</b>Master Hima & UKM
                </a>
                <a onclick="location.href='@Url.Action("Index","Jabatan")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-id-card fa-lg fa-pull-left'>&nbsp;</b>Master Jabatan
                </a>
                <a onclick="location.href='@Url.Action("Index","Periode")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-calendar fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Master Periode
                </a>
            </div>
            <a href='#menu6' role='tab' class='list-group-item list-group-item-action polman-menu-active' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Informasi</a>
            <div id='menu6' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","News")'" class="list-group-item list-group-item-action active" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-book fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Berita BEM
                </a>
            </div>
        </div>
    </div>
</div>

<H3>Berita BEM</H3>
<ol class="breadcrumb polman-breadcrumb">
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("MenuAdmin","Login")'">Sistem Informasi BEM</a></li>
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index","News")'">Berita Bem</a></li>
    <li class="breadcrumb-item">Detail</li>
</ol>
<hr />

<div id="allcontent" class="polman-adjust5" style="margin-left: 0px;">
<div id="MainContent_panelAdd">
    <div class="card">
        <div class="card-header">
            <h3>Detail Data @Html.DisplayFor(model => model.judul)</h3>
        </div>
        <div class="container" style="top:50px;">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary text-center">@Html.DisplayFor(model => model.judul)</h5>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                @if (Model.gambar != "")
                                {
                                    <img src="@Url.Content(Model.gambar)" height="250" width="300" />
                                }
                            </div>
                            <br />
                            <p>
                                @Html.Raw(Model.deskripsi)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br />
<span style="float: right">
    <a href="@Url.Action("Index", "News", "")" class="btn btn-success" style="padding: 15px 40px; font-size: 12pt;">Kembali</a>
</span>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
