@model Sistem_Informasi_BEM.Models.trnotulensi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>trnotulensi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jmlhadir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jmlhadir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notulensi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notulensi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creaby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creaby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creadate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creadate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modiby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modiby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modidate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modidate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trrapat.judulrapat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trrapat.judulrapat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idnotulensi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
