@model IEnumerable<Sistem_Informasi_BEM.Models.trnotulensi>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml";
    var status = "";
}
<div class="polman-nav-static-top">
    <div id="iconmenu" class="fa fa-bars fa-2x polman-adjust2" style="margin-right: 15px; cursor: pointer;" aria-hidden="true" onclick="hidemenu();"></div>
    <div class="float-left polman-adjust2">
        <img src="~/Picture/SIBEM.png" style="height: 50px;" />
    </div>
    <div class="polman-menu">
        <nav class="nav justify-content-end" style="padding-top: 0px;">
            <div class="fa fa-user-circle-o fa-10x" style="margin-top: 8px; margin-right: 15px; cursor: pointer;" aria-hidden="true"></div>
            <b style="font-size: 18px; float: right">@(Request.IsAuthenticated? HttpContext.Current.User.Identity.Name : "") (@ViewBag.Jabatan) <br />@ViewBag.Departemen </b>
        </nav>
    </div>
</div>

<div class="polman-nav-static-right collapse scrollstyle" id="menu">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="list-group">
            <a onclick="location.href='@Url.Action("Index", "Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 23px;"><i class="fa fa-sign-out fa-lg fa-pull-left"></i>Logout</a>
            <a onclick="location.href='@Url.Action("MenuBPH","Login")'" class="list-group-item list-group-item-action" style="border-radius: 0px;border: none;padding-left: 23px;"><i class="fa fa-home fa-lg fa-pull-left"></i>Dashboard</a>
            <a href='#menu7' role='tab' class='list-group-item list-group-item-action polman-menu-active' data-toggle='collapse' data-parent='#accordion' aria-expanded='true' aria-controls='menu7' style="border-radius: 0px; border: none; padding-left: 23px;"><i class='fa fa-chevron-down fa-lg fa-pull-left'></i>Menu</a>
            <div id='menu7' class='collapse in' role='tabpanel'>
                <a onclick="location.href='@Url.Action("Index","OSP")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-excel-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Pengajuan OSP
                </a>
                <a onclick="location.href='@Url.Action("IndexDept","PengajuanDana")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-text-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Pengajuan Dana
                </a>
                <a onclick="location.href='@Url.Action("Index", "KasBPH")'" class="list-group-item list-group-item-action " style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-money fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Kas
                </a>
                <a onclick="location.href='@Url.Action("Index", "trrapat")'" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-money fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Atur Rapat
                </a>
                <a onclick="location.href='@Url.Action("Index", "trnotulensi")'" class="list-group-item list-group-item-action active" style="border-radius: 0px; border: none; padding-left: 47px; display: inherit;">
                    <b class='fa fa-file-archive-o fa-lg fa-pull-left'>&nbsp;&nbsp;</b>Notulensi Rapat
                </a>
            </div>
        </div>
    </div>
</div>
<H3>Notulensi Rapat</H3>
<ol class="breadcrumb polman-breadcrumb">
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("MenuBPH","Login")'">Sistem Informasi BEM</a></li>
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index","trnotulensi")'">Notulensi Rapat</a></li>
    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Create","trnotulensi")'">Tambah</a></li>
</ol>
<hr />
<a href="@Url.Action("Create", "trnotulensi", "")" class="btn btn-success" style="padding: 10px 25px;"><i class='fa fa-plus'>&nbsp;&nbsp;</i>Tambah Baru</a>
<br />
<br />
<table class="table table-striped table-bordered" style="width:100%" id="tblformat">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trrapat.judulrapat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notulensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jmlhadir)
            </th>
            <th>Aksi</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trrapat.judulrapat)
            </td>
            <td>
                @Html.ActionLink(item.notulensi, "Download", new { fileName = item.notulensi })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jmlhadir) Peserta
            </td>
            <td align="center">    
                <a href="@Url.Action("Edit", "trnotulensi", new { id = item.idnotulensi })" class="btn btn-default"><i class='fa fa-edit'></i>&nbsp;Ubah</a>
                <a href="@Url.Action("Details", "trnotulensi", new { id = item.idnotulensi })" class="btn btn-default"><i class='fa fa-pencil'></i>&nbsp;Detail</a>
                <a onclick="return confirm('Yakin ingin Menghapus Notulensi?');" href="@Url.Action("Hapus", "trnotulensi", new { id = item.idnotulensi })" class="btn btn-danger"><i class='fa fa-trash'></i>&nbsp;Hapus</a>
                
            </td>
        </tr>
    }

</table>
<link href="~/Content/designtable.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Content/theme/designtablejava.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
            alert("@ViewBag.Message");
            }
        </script>
    }

    <script>
        var Popup, dataTable;
        var no;
        $(document).ready(function () {
            $(document).ready(function () {
                dataTable = $("#tblformat").DataTable();
            });
        });
    </script>
}